<h1>Chat room</h1>

<div>
  <table>
    <thead>
    <tr>
      <th>Messages</th>
    </tr>
    </thead>
    <tbody id="messages">
      <%= render @messages %>
    </tbody>
  </table>
</div>

  <label>Say something:</label><br>
  <input type="text" name="message" id="message" >

<script>
  var g_room_name = "<%= @room %>";
</script>